VITE_FIREBASE_API_KEY=AIzaSyC8r9UTwsbufuPOznpyi94Q80Kkp8gIRmY
VITE_FIREBASE_AUTH_DOMAIN=neetii-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=neetii-ai
VITE_FIREBASE_STORAGE_BUCKET=neetii-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=404288748766
VITE_FIREBASE_APP_ID=1:404288748766:web:e590ac9fb1442e55c8164f
VITE_FIREBASE_MEASUREMENT_ID=G-XH18VG4FXT
VITE_API_URL=https://YOUR_RENDER_BACKEND_URL.onrender.com
